<section>
    <div id="containerExperience">
        <div id="containerTitle">
            <h2 id="titleExperience">
                My Journey
            </h2>
        </div>
        <div class="containerText">
            <p class="normalText">
                Every line of code tells a story, and every professional experience has been a challenge that has helped me grow. 
                Here, you'll find the roles and responsibilities that have shaped my journey as a developer.
            </p>
        </div>
        <section id="containerExperience">
            <section class="containerContentXp">
                <div class="containerXpImage">
                    <img class="imageXp" src="../../assets/images/logoBizagi.png" alt="logoBizagiLatam">
                </div>
                <div class="containerXpText">
                    <p class="descriptionText">
                        In my role as a Software Development Intern, I was responsible for ensuring that our clients’ corporate websites were kept up-to-date and error-free, initially using Joomla as the content management system (CMS) and later Jaiha. 
                        Through our web portal, I managed the renewal and maintenance of clients’ licenses, using advanced technologies such as database management. In addition, I was responsible for resolving tickets at the back-end, front-end or database level, depending on the needs of the client, colleagues or the company team. 
                        This task was achieved in close collaboration with the CRM team, with whom we maintained a professional and productive relationship.
                    </p>
                    <h6 class="achievementsTitle">Achievements</h6>
                    <div class="containerAchievements">
                        <p class="achievements">
                            Help revamp the customer portal
                        </p>
                        <p class="achievements">
                            Teamwork
                        </p>
                        <p class="achievements">
                            Pressure management
                        </p>
                        <p class="achievements">
                            Software Quality Assurance
                        </p>
                    </div>
                </div>
            </section>
            <section class="containerContentXp">
                <div class="containerXpImage">
                    <img class="imageXp" src="../../assets/images/logoTESLA.png" alt="Logo corporativo Nacional de Transformadores - TESLA">
                </div>
                <div class="containerXpText">
                    <p class="descriptionText">
                        As software engineer focused on digital transformation. 
                        I build scalable applications with Java (Spring) and PHP, design user-centric interfaces, migrate systems to Microsoft Azure, 
                        and optimize development cycles with modern tools like GitLab to drive business efficiency.
                    </p>
                    <h6 class="achievementsTitle">Achievements</h6>
                    <div class="containerAchievements">
                        <p class="achievements">
                            Java
                        </p>
                        <p class="achievements">
                            Spring Boot
                        </p>
                        <p class="achievements">
                            Angular
                        </p>
                        <p class="achievements">
                            PHP
                        </p>
                        <p class="achievements">
                            Business digital innovation
                        </p>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>