<section id="sectionTv">
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  <div id="containerTv">
    <section id="countermark">
      <p>Juanba's TV</p>
    </section>

    <section id="screenTv">
      <div id="panelCli">
        <div id="titleMenu">
          <h5>Basic Menu | Projects by Juan Barbosa</h5>
        </div>

        <div id="projectsGrid">
          <div class="project-card" *ngFor="let project of projects">
            <a rel="preconnect" [href]="project.link" target="_blank" class="project-link">
              <img [src]="project.image" [alt]="project.title" class="project-image">
              <h6 class="project-title">{{ project.title }}</h6>
              <p class="project-description">{{ project.description }}</p>
              
              <div class="containerDevIcons">
                <i *ngFor="let tag of project.tags" 
                   [class]="'devicon-' + tag + '-plain colored'"></i>
              </div>

              <span class="project-link-text">
                {{ project.isDemo ? 'View Demo' : 'View on GitHub' }}
              </span>
            </a>
          </div>
        </div>

        <h6>More coming soon...</h6>
      </div>
    </section>

    <section id="brandTv">
      <p>SORNY</p>
    </section>
  </div>
</section>
